/* 0. TYPOGRAPHY */
/* 1. HEADER */
/* 2. NAVBAR */
/* 3. MENU */
/* 4. STRUCTURE */
.main-wrapper{
	min-height:550px;
}
/* 5. BODY */
.login-panel{
	margin:50px 0 0 0;
}
/* 6. FOOTER */
.footer-style{
	background:#9C252E no-repeat;
	min-height:200px;
	padding:20px 0;
	color:#FFFFFF;
	a{
		color:#FFFFFF;
		text-decoration: none;
	}
}
/* 7. HELPER */